# Python / Backend
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/tasks.db

# Flutter / Frontend
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/build/
frontend/.packages
frontend/pubspec.lock

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
